.sidebar {
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #FFF;
        border-right: 1px solid #EEE;
        text-align: center;
}

.main {
    padding: 25px;
    overflow-y: auto;
    background: #E5E5E5;
}

hr {
    margin:5px auto;
}

.box {
    z-index: auto;
}

h3 {
    color: black;
    font-size: 25px;
    font-weight: bold;
    line-height: 28px;
    margin-top:10px;
}

h6 {
   margin-bottom:20px;
    color: #404040;
}

.social {
    text-align: center;
}

.social ul{
    list-style-type: none;
    padding-left:0;
    text-align: center;
}

.social ul li{
    display: inline;
}

.social ul li img {
    height:32px;
    width:32px;
    margin-right:5px;
}

.social ul li a:hover {
    text-decoration: none;
    opacity: 0.8;
    -webkit-transform: scale(1.05);
}


.me {
    max-width:170px;
        width:100%;
    border-radius: 5px;
    margin-bottom:20px;
}


.info {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-border-radius: 2px;
    border-radius: 3px;
    background-color: #FFF;

    border: 1px solid #D8D8D8;
    border-bottom-width: 2px;
    border-top-width: 0;
    vertical-align: top;
    font-size: 13px;
    line-height: 1.4;
    margin: 10px 0 20px 0;
    padding: 25px;
    outline: none;
    position: relative;
    word-wrap: break-word;
}

.info-images {
    list-style-type: none;
    padding-left:0;
}

.info-images li{
    max-width: 100px;
    display: inline;
    margin: 4px 16px;
}

.info-image {
    max-width: 100px;
    height: auto;
}

.about {
    font-size:14px;
}

.form-control {
    border-radius: 3px;
}

.button-demo { /*general styling for all buttons*/
  color: #244549;
  position: relative;
  background: #31ce74;
  cursor: pointer;
  overflow: hidden;
  text-align: center;
  text-shadow: none;
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
    margin-top:100px;
}

.button-demo:hover {
    -moz-box-shadow: 0 17px 50px 0 rgba(0,0,0,.19);
    -webkit-box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 0 17px 50px 0 rgba(0, 0, 0, 0.19);
    position: relative;
    z-index: 100;
}
.button-demo.hover { /*makes it 'elevate'*/
  -webkit-transform: scale(1.05) !important;
  -ms-transform: scale(1.05) !important;
  transform: scale(1.05) !important;
}

.blog-link:hover {
    text-decoration: none;
    color:black;
}

.button-demo.big {
    color:white;
  font-size: 15px;
font-weight: bold;
  line-height: 50px;
}

.ripple { /*stylings for the circular overlay*/
  position: absolute;
  border-radius: 100%;
  width: 0;
  height: 0;
  background: rgba(0,0,0, .15);
  -webkit-transition: all .3s ease-out;
  transition: all .3s ease-out;
}

.notransition { /*used to reset the ripple without an animatiion*/
  -webkit-transition: none !important;
  transition: none !important;
}

@media (min-width: 988px) {
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto;
        background: #FFF;
        border-right: 1px solid #C7C7C7;
        text-align: center;
        box-shadow: 6px 0 10px -4px rgba(199, 199, 199, 0.8);
    }

    .box {
        z-index: auto;
       position: absolute;
       top: 50%;
       margin-top: -200px;/* half of #content height*/
       left: 0;
       width: 100%;
    }
}
