// Writes ———————————————————————————————————— •
// ——————————————————————————————————————————— •

.writes-introduction-brain,.writes-introduction-notebook,.essay-toggles {
    display: none
}

.writes-introduction h1 {
    padding-top: 3.25em
}

.writes-essays {
    margin-bottom: 2em
}

.writes-essays p a:visited {
    color: #5EACEE
}

.writes-essays-list {
    margin-top: 2em
}

.writes-essay {
    margin-bottom: 1em
}

.writes-essay a {
    text-decoration: none
}

.writes-essay a:visited h2 {
    color: #888
}

.writes-essay a:hover h2,.writes-essay a:hover p {
    color: #008aff
}

.writes-essay a h2 {
    display: inline-block;
    font-size: 1.25em;
    font-weight: normal;
    margin-bottom: .4em
}

.writes-essay a p {
    color: #777;
    font-family: "Alto","Lucida Grand",Helvetica,Arial,sans-serif;
    line-height: 1.2em;
    margin-bottom: .25em
}

.writes-essay a small {
    display: inline-block;
    font-size: .8em
}

.writes-essay a small:after {
    content: " \2014 "
}

.writes-essay a small:last-child:after {
    content: ""
}

.writes-essay a .essay-svn {
    background: url("/assets/images/icons/signals.png") 0 0 no-repeat;
    background-size: 16px 16px;
    padding-bottom: .25em;
    padding-left: 1.5em
}

.writes-essay a .desktop {
    display: none
}

// Base Styles: Tablets —————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
    .blog-thumb {
        height: 100px; 
        width: 100%; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .writes-introduction h1 {
        margin-bottom:1em;
        padding-top: 1.5em
    }


    .essay-toggle {
        cursor: pointer;
        display: block;
        font-family: "Alto","Lucida Grand",Helvetica,Arial,sans-serif;
        font-size: .9rem;
        position: relative;
        vertical-align: top
    }

    .essay-toggle span {
        background-image: url("/assets/images/icons/toggles.png");
        background-size: 34px 28px;
        display: inline-block;
        height: 14px;
        margin-bottom: -2px;
        width: 0;
    }

    .essay-ui-radio {
        background-position: 0 -14px
    }

    .essay-ui-check {
        background-position: 0 0
    }

    .selected {
        font-weight: bold
    }

    .selected .essay-ui-radio {
        background-position: -17px -14px
    }

    .selected .essay-ui-check {
        background-position: -17px 0
    }

    .essay-toggles-radios {
        border-bottom: 1px solid #DDD;
        margin-bottom: .5em;
        padding-bottom: .5em;
        width: 110px
    }

    .writes-essays {
        margin-bottom: 6em;
        position: relative
    }

    .writes-essays-list {
        margin-top: -.35em;
        margin-bottom: 5em;
        float: left;
        width: 510px;
    }

    .writes-essay {
        margin-bottom: 2em
    }

    .writes-essay a h2 {
        color: #333;
        font-size: 1.5em;
        letter-spacing: -1px;
        line-height: 1.1em;
        text-decoration: none
    }

    .writes-essay a p {
        line-height: 1em
    }

    .writes-essay a .mobile {
        display: none
    }

    .writes-essay a .desktop {
        display: inline
    }

    .writes-essay a .essay-svn {
        padding-top: .2em
    }
}


// Writes: Desktop —————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
    .writes-introduction {
        position: relative
    }

    .writes-introduction h1 {
        padding-top: 0
    }

    .writes-introduction-brain {
        display: block;
        height: auto;
        position: absolute;
        top: 0;
        max-width: 200px;
        width: 25%;
        z-index: 1986
    }

    .writes-introduction-notebook {
        display: block;
        position: absolute;
        left: 10%;
        top: 0;
        width: 30%;
        max-width: 250px;
        z-index: -1986
    }
}


// Writes: Desktop with menu—————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(915px) {
    .essay-toggles {
        display: block;
        margin-top: .4em;
        margin-left: 510px;
        position: absolute
    }
}


// Writes: Hi Res Desktops —————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(1200px) {

}