// Project and Portfolio ————————————————————— •
// ——————————————————————————————————————————— •

.portfolio .footer-nav {
    display: none
}

.portfolio .content {
    -webkit-animation: fade-in 0.75s 0.25s both;
    -moz-animation: fade-in 0.75s 0.25s both;
    -ms-animation: fade-in 0.75s 0.25s both;
    -o-animation: fade-in 0.75s 0.25s both;
    animation: fade-in 0.75s 0.25s both
}

.portfolio-introduction {
    margin-top: 3.25em
}

.project {
    display: block;
    margin-bottom: 1em;
    max-width: 550px
}

.project img {
    height: auto;
    width: 100%
}

.project-video {
    height: auto;
    width: 100%;
    text-align: center;
}

.project-website {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -moz-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    -o-box-shadow: 0 0 4px rgba(0,0,0,0.1);
    box-shadow: 0 0 4px rgba(0,0,0,0.1);
    border: 1px solid #CCC;
    border-top-width: 8px;
    overflow: hidden
}

.project-website img {
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    -o-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    margin: 0 0 -.5em
}

.project-code-block {
    display: none;
}

.project-phone {
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -o-border-radius: 15px;
    border-radius: 15px;
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    box-shadow: 0 2px 4px rgba(0,0,0,0.5);
    background-color: black;
    padding: 3% 0 3.5%;
    text-align: center
}

.project-phone img {
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -o-border-radius: 2px;
    border-radius: 2px;
    display: inline-block;
    width: 95%
}

.project-poster img {
    -webkit-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    -o-box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    box-shadow: 0 2px 4px rgba(0,0,0,0.3)
}

.project-description {
    margin-bottom: 50px;
    display: block;
}

.project-description h3 {
    line-height: 1.25em;
    margin-bottom: 1em
}

.portfolio-copyright {
    color: #999;
    font-family: "Alto","Lucida Grand",Helvetica,Arial,sans-serif;
    font-size: .8em;
    margin-bottom: 2em;
    margin-top: 2em;
    position: relative
}

.second_heading {
    margin-top: 40px;
    text-align: center;
    padding: 5px;
    font-size: 1.5rem;
    border-top: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;
}


// Makes Styles: Tablets —————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
    .project-video {
        width: auto;
        -webkit-box-shadow: 0px 0px 48px -10px rgba(0,0,0,0.74);
        -moz-box-shadow: 0px 0px 48px -10px rgba(0,0,0,0.74);
        box-shadow: 0px 0px 48px -10px rgba(0,0,0,0.74);
    }
    
    .project-video iframe{
        display: block;
    }

    .second_heading{
        margin-top: 120px;
        text-align: center;
        padding: 10px;
        font-size: 1.5rem;
        border-top: 1px solid #d6d6d6;
        border-bottom: 1px solid #d6d6d6;
    }

    .portfolio-dark {
        background-color:#666;
        border-top-color: #333;
        color: #999
    }

    .portfolio-dark a,.portfolio-dark .ephemera {
        color: #FFF
    }

    .portfolio-introduction {
        display: inline-block;
        float: left;
        position: relative
    }

    .portfolio-copyright {
        margin-top: 8em
    }

    .projects {
        zoom:1
    }

    .projects:after {
        content: ".";
        display: block;
        height: 0;
        clear: both;
        visibility: hidden
    }

    .project {
        display: inline-block;
        float: left;
        position: relative;
        vertical-align: top;
        max-width: 100%
    }

    .project-code-block {
        display: block;
    }

    .project-description {
        display: inline-block;
        float: left;
        position: relative;
        margin-bottom: 0;
    }

    .project-svn-mobile {
        margin-top: 20%
    }

    .project-description-svn {
        margin-top: -40%
    }

    .project-bike {
        margin-top: 20%
    }

    .project-bike-mobile {
        margin-top: 10%
    }

    .project-description-bike {
        margin-top: -90%
    }

    .project-basecamp {
        margin-top: -10%
    }

    .project-basecamp-mobile {
        margin-top: -20%
    }

    .project-description-basecamp {
        margin-top: 2%
    }

    .project-breeze {
        margin-top: 10%
    }

    .project-description-breeze {
        margin-top: 15%
    }

    .project-basecamp-pause {
        margin-top: -10%
    }

    .project-description-plans {
        margin-top: -40%
    }

    .project-basecamp-help {
        margin-top: 10%
    }

    .project-description-basecamp-help {
        margin-top: 10%
    }

    .project-humblepied-mobile {
        margin-top: 10%
    }

    .project-description-humblepied {
        margin-top: 5%
    }

    .project-description-basecamp-logos {
        margin-top: 2%
    }

    .project-incoming-transmission {
        margin-top: -5%
    }

    .project-incoming-transmission-mobile {
        margin-top: 10%
    }

    .project-design-test {
        margin-top: 10%
    }

    .project-description-design-test {
        margin-top: -50%
    }

    .project-google-city {
        margin-top: 10%
    }

    .project-description-google-city {
        margin-top: 20%
    }

    .project-threadless-redesign {
        margin-top: 10%
    }

    .project-description-threadless-redesign {
        margin-top: 40%
    }

    .project-description-threadless-promos {
        margin-top: 15%
    }

    .project-threadless-loves-kids {
        margin-top: 10%
    }

    .project-threadless-sale-comics {
        margin-top: 3%
    }

    .project-threadless-sale-classics {
        margin-top: 3%
    }

    .project-threadless-sale-holiday {
        margin-top: 5%
    }

    .project-threadless-promo-threadless-u {
        margin-top: 3%
    }

    .project-wanker {
        margin-top: 20%
    }

    .project-pizza {
        margin-top: 10%
    }

    .project-description-pizza {
        margin-top: -30%
    }

    .project-skateboard-cookie {
        margin-top: 10%
    }

    .project-description-skateboard {
        margin-top: 3%
    }

    .project-description-posters {
        margin-top: 20%
    }

    .project-poster-aiga {
        margin-top: 30%
    }

    .project-poster-blogwars {
        margin-top: 10%
    }

    .project-poster-japandroids {
        margin-top: -10%
    }

    .project-poster-smd-B {
        margin-top: 10%
    }

    .project-poster-smd-C {
        margin-top: -21.75%
    }

    .project-lyt-weaver-A {
        margin-top: 10%
    }

    .design-code {
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
        left: 20%;
        bottom: -320%
    }

    .designing-is-selling {
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        left: -10%;
        bottom: -10%
    }

    .teach-others {
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        right: -5%;
        top: -30%
    }

    .ask-your-heroes {
        left: -50%;
        top: -50%
    }

    .read-every-day {
        right: -25%;
        top: -50%
    }

    .writing-is-designing {
        left: -33.333%;
        top: -70%
    }

    .support-your-community {
        -webkit-transform-origin: left bottom;
        -moz-transform-origin: left bottom;
        -ms-transform-origin: left bottom;
        -o-transform-origin: left bottom;
        transform-origin: left bottom;
        left: 20%;
        top: -300%
    }

    .have-fun {
        left: -50%;
        top: -50%
    }

    .get-weird {
        bottom: 20%;
        right: -50%
    }

    .make-mistakes {
        bottom: 20%;
        left: -30%
    }

    .try-new-things {
        bottom: 30%;
        right: -50%
    }

    .designers-should-code {
        -webkit-transform-origin: left top;
        -moz-transform-origin: left top;
        -ms-transform-origin: left top;
        -o-transform-origin: left top;
        transform-origin: left top;
        right: -80%;
        top: -50%
    }

    .get-hands-dirty {
        -webkit-transform-origin: right top;
        -moz-transform-origin: right top;
        -ms-transform-origin: right top;
        -o-transform-origin: right top;
        transform-origin: right top;
        right: -50%;
        top: -10%
    }

    .have-a-sense-of-humor {
        right: -40%;
        top: -150%
    }

    .thanks-for-looking {
        bottom: -20%
    }
}