---
---

// Reset & Mixins ———————————————————————————— •
// ——————————————————————————————————————————— •
@charset "UTF-8";

@import
  'globals/mixins',
  'globals/reset',
  'globals/fonts',
  'globals/animations',
  'globals/print';


// Base Styles ——————————————————————————————— •
// ——————————————————————————————————————————— •

body {
  @include border-box;
  @include font-smoothing(antialiased);
  background-color: $color-background;
  color: #333;
  font-family: $font-serif;
  font-size: 1rem;
  line-height: 1.5rem;
  position: relative;
}

a {
  color: $color-link;
  margin: -.2rem;
  padding: .2rem;
  text-decoration: none;

  &:link { text-decoration: none; color: #a29d91; }
  &:visited { color: $color-link-visited; }
  &:hover { color: $color-link-hover; text-decoration: none; }
  &:active { color: black;  }
}


h1 {
  font-size: 1.35em;
  font-weight: normal;
  letter-spacing: -.04em;
  line-height: 1.2em;
  margin-bottom: 1rem;
  position: relative;
  z-index: 1000;
}

h2 {
  font-family: $font-serif;
  letter-spacing: -.04em;
  line-height: 1.1em;
  margin-bottom: 1em;
}

h3 {
  font-size: .75rem;
  letter-spacing: .3em;
  line-height: 1em;
  text-transform: uppercase;
}

p {
  margin-bottom: 1em;

  a { text-decoration: underline; }
  a:hover { text-decoration: none; }
}

li { list-style: none; }

.content {
  @include animate(fade-in .5s both);
  @include border-box;
  @include clearfix;
  padding: 0 1em;
  position: relative;
  width: 100%;
}

.hide-mobile { display: none !important; }

hr.line {
  display: none;
}

.logo {
  display: none;
}

.width-one {
  margin-left: auto;
  margin-right: auto;
  width: 33.333%;
}

::-moz-selection {
  background-color: $color-link;
  color: #fff;
}

::selection {
  background-color: $color-link;
  color: #fff;
}

.links {
  margin-top: 30px;
}

.missing {
  padding-top: 3.5em;
  max-width: 400px;
}



// Base Styles: Tablets —————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(640px) {
  h1 {
    font-size: 2.5rem;
    line-height: 1em;
  }

  h2 { font-size: 1.25rem; }

  .content { padding: 0 2em; }

  .hide-mobile { display: inline !important; }
  .hide-desktop { display: none !important; }

  .align-right { text-align: right; }

  .clear-left { clear: left; }
  .clear-right { clear: right; }

  .margin-top { margin-top: 200px; }

  .fit-right { margin-right: 0 !important; }

  .spacing-one { margin-left: 16.667%; }
  .spacing-two { margin-left: 33.333%; }
  .spacing-three { margin-left: 50%; }
  .spacing-four { margin-left: 66.667%; }
  .spacing-five { margin-left: 83.333%; }

  .width-one { margin-right: 2%; width: 14.667%; }
  .width-two { margin-right: 2%; width: 31.333%; }
  .width-three { margin-right: 2%; width: 48%; }
  .width-four { margin-right: 2%; width: 64.667%; }
  .width-five { margin-right: 2%; width: 81.333%; }
  .width-six { margin-right: 0; width: 100%; }
}

// Base Styles: Desktop —————————————————————— •
// ——————————————————————————————————————————— •

@include responsive-break-point(800px) {
  .content { 
    width: auto; 
    margin-left: 275px;
    padding: 35px 5px 20px 0px;
  }

  hr.line {
      height: 1px;
      border: 30px;
      display: block;
      color: #D9D1BF;
      background-color: #D9D1BF;
      width: 170px;
  }

  .logo { display: block; }

  .missing { padding-top: 0; }
}


// Fix: iOS Font Sizing —————————————————————— •
// ——————————————————————————————————————————— •

@media screen and (max-device-width: 480px) {
  html {
    -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
  }
}

// Components ———————————————————————————————— •
// ——————————————————————————————————————————— •

@import
  'components/navigation',
  'components/footer',
  'components/presentation',
  'components/essays';

// Pages ———————————————————————————————— •
// ——————————————————————————————————————————— •

@import
  'pages/home',
  'pages/essays',
  'pages/contact',
  'pages/work';