{{ define "main" }}

<header>
  <div class="container">
      <h1>{{ .Title }}</h1>
        <div class="bio-social">
            {{ range $name, $path := $.Param "socialOptions" }}
            {{ if (and $path (ne $name "email")) }}
            <a href="{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $name }}"
                aria-label="{{ $name }}">
                {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
            </a>
            {{ end }}
            {{ if (and $path (eq $name "email")) }}
            <a href="mailto:{{ $path | safeURL }}" target="_blank" rel="noreferrer" title="{{ $path }}"
                aria-label="{{ $name }}">
                {{ partial (print "svgs/social/" $name ".svg") (dict "width" 25 "height" 25) }}
            </a>
            {{ end }}
            {{ end }}
        </div>
      <p class="subtitle">{{ .Params.subtitle }}</p>
  </div>
</header>

<div class="container">
    <section class="my">
        <div class="content">
            {{ with .Content }}
            {{ . }}
            {{ end }}
        </div>
    </section>
</div>
{{ end }}