{% include head.html %}
  <body class="essay{% if page.class %} {{ page.class }}{% endif %}">
    {% include navigation.html %}

      <div class="content">
        <article class="project-content clearfix">
    		  <section class="writes-introduction">
    		    <h1>{{ page.title }}</h1>
    		  </section>

          {{ content }}

          <section class="portfolio-copyright align-rights width-two">
            Everything here &copy; Yash Raj Singh 2014-2016.
            <br/>Be nice, don’t steal. <strong>Thanks for looking.</strong>
          </section>

          <p><em class="essay-content-meta">This was written by {{ site.author }}, on {{ page.date | date: "%B %d, %Y" }}.</em></p>
        </article>
      
        {% include footer.html %}
      </div>
  </body>
</html>