<nav class="nav" role="navigation">
  <a class="nav-home" href="/">Yash Raj Singh</a>

  <p class="logo">
  	<a href="/">
  		<img src="/assets/images/home/logo.png" width="170" height="158">
  	</a>
  </p>

  <div class="nav-links">
    <button class="nav-links-trigger" data-menu="closed">Menu</button>

    <ul class="nav-links-list">
      <li><a class="nav-link-about" href="/about/">About</a></li>
      <li><a class="nav-link-contact" href="/contact/">Contact</a></li>
      <hr class="line">
      <li><a class="nav-link-portfolio" href="/work/">Work</a></li>
      <li><a class="nav-link-shares" href="/blog/">Blog</a></li>
      <li><a class="nav-link-writes" href="/essays/">Essays</a></li>
    </ul>
  </div>

  <hr class="line"><span class="logo">© 2016</span>
</nav>